[submodule "submodule"]
	path = submodule
	url = git@gitlab.com:ModioAB/build.mk
	branch = submodule-branch
[submodule "test/submodule"]
	path = test/submodule
	url = git@gitlab.com:ModioAB/build.mk
	branch = submodule-branch
